/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/*This file comments on nesting, ID's and classes */

body{

  padding: 30px;
  background-color: #77716f;
  display: flex;
  flex-direction: column;
  align-items: left;        /* 1. The css won't validate for this rule because it says it doesn't do anything, */
  justify-content: center;  /*   but actually it does. This lines all of our items (the pslo boxes, faculty */
                            /*   boxes, and validation box. */
}

#style {                    /* 2. This rule places our style box on the left of the screen and allows it to scroll */
                            /* up and down without moving across the screen */
  position: fixed;
  background-color: #141211;
  left: 0;
  min-height:100%;
  top: 0;
  padding-top: 10px;
}

/* this block includes nesting, for example every link INSIDE of a list INSIDE of the style box */
/* for id, use a pound sign */
#style li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141211;
}

/* the class can be denoted with a . before it */
.section {
  max-width: 70%;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border-width: 5px;
  border-style: double;
  border-color: black;

}


#main-title {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#courses {
  background-color: #5FB8C0;
}

#pslo {
  background-color: #BE2414
}


.faculty-container {
  margin-bottom: 30%;
}

#faculty-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#faculty {
  background-color: #f9f7f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#faculty>ul>li {
  display: inline-block;
  font-family: sans-serif;
  padding: 40px;
}

#validation {           /* 3. The position of the validation box is relative to the bottom of the body,
                              this is the only rule with a relative position */
  position: relative;
  float: bottom;
  max-height: 20%;
  margin-left: 40px;
  border-style: solid;
  border-width: 5px;
  border-color: #77716f;
}

a:link {                /* 4. This rule changes the color of the unvisited links, we changed this in style sheet 3 as well
                              but didn't comment on it. */
  color: white;
}

a:visited {
  color: red;
}

@media only screen and (max-width: 414px) { /* 5.  The pictures change size independently from the rest of the
                                                   boxes and text. We did this in style3 as well but didn't comment
                                                   on it. */
  .faculty-container .pic {
    max-width: 100%;
  }
}



