/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/* This file comments on grouping*/

body{                   /* 1. jpg as background, different because the other two use colors */
  padding: 10px;
  background-image: url(../assets/images/packers.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-style: oblique;
}

.section {
  max-width: 70%;
}

.faculty-container {
}

#faculty:hover { /* 2. this hover selector allows for events based on mouse position, the other two style sheets don't have this. */
  opacity: 1.0;
  background-image: linear-gradient(to right, black, green);
  border: solid;
}

#faculty {
  opacity: 0.5;     /* 3. allows the background to be seen when the mouse is not hovering any boxes*/
  margin-left: 0px; /* neither of the other sheets have this */
}

#faculty li {
  list-style: square;
}

.pic {
  max-width: 75%;

}

.name {
  font-size: 180%;
  font-style: normal;
}

#pslo:hover { /* 4. this gradient rule creates a background with a gradient, this is the only style sheet with a gradient */

  opacity: 1.0;
  background-image: linear-gradient(to right, #77716f, black);
  border: solid;
}

#pslo{
  opacity: 0.5;
}

#courses:hover {
  opacity: 1.0;
  background-image: linear-gradient(to right, black, #77716f);
  border: solid;
}

#courses {
  opacity: 0.5;
}
#courses li {
  list-style: square;
}

p {
  color: white;
}

#validation{
  color: white;
}

li {
  color: white;
}

#faculty li{
  color: white;
}

/* this box includes the GROUPING of all of the headers */
h1, h2, h3, h4, h5, h6 {       /* 5. transformed the text for each header to be in all caps, neither of the other
                                  sheets transform all of the headers or make them all caps */
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
}

#validation {
  opacity: 0.7;
  font-size: 80%;
  background-color: #141211;
  padding: 50% 10px 10px 10px;
  position: fixed;
  left: 70%;
  bottom: -10%;
  max-width: 30%;
  min-height: 100%;
}

#validation p{
  color: white;
}

#style {
  opacity: 1.0;
  background-color: darkgrey;
  color: white;
  max-width: 70%;
  padding: 20px;
  left:70%;
  top: 55%;
  position: fixed;
  min-width: 30%;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

@media only screen and (max-width: 414px) {
  .name {
    font-size: 120%;
  }
  h1 h2 h3 h4 h5 h6 {
    font-size: 1em;
  }
  #validation {
    font-size: 50%;
  }
  #style {
    padding: 0px;
  }
}





