/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
  padding: 30px;
  background-image: url(../assets/images/packers.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-style: oblique;
}

.section {
  max-width: 70%;
}

#faculty:hover {
  opacity: 1.0;
  background-image: linear-gradient(to right, black, green);
  border: solid;
}

#faculty {
  opacity: 0.5;
}

#faculty li {
  list-style: square;
}

.name {
  font-size: 180%;
  font-style: normal;
}

#pslo:hover {
  opacity: 1.0;
  background-image: linear-gradient(to right, black, white);
  border: solid;
}

#pslo{
  opacity: 0.5;
}

#courses:hover {
  opacity: 1.0;
  background-image: linear-gradient(to right, black, yellow);
  border: solid;
}

#courses {
  opacity: 0.5;
}
#courses li {
  list-style: square;
}

p {
  color: white;
}

#validation{
  color: white;
}

li {
  color: white;
}

#faculty li{
  color: white;
}


h1, h2, h3, h4, h5, h6 {
 color: white;
}

#validation {
  font-size: 80%;
  background-color: darkgrey;
  padding: 25px;
  position: fixed;
  left: 70%;
  top: 30%;
  max-width: 30%;
}

#validation p{
  color: black;
}

#style {
  opacity: 1.0;
  background-color: darkgrey;
  color: white;
  max-width: 70%;
  padding: 20px;
  left:70%;
  top: 55%;
  position: fixed;
  min-width: 30%;
}




